#aign-voice-recorder {
    position: relative;
    /* height: 100%; */
    background-color: #fff;
    box-shadow: 0 30px 60px #656565;
    border-radius: 15px;
    z-index: 2;
    max-width: 350px;
    bottom: 0;
    left: 5em;
}

#record {
    font-size: 24px;
    color: #fff;
    text-align: center;
    width: 80px;
    height: 80px;
    border: 0;
    background: #020024;
    background: -webkit-linear-gradient(
        left,
        #020024 0,
        #090979 35%,
        #00d4ff 100%
    );
    background: linear-gradient(90deg, #020024 0, #090979 35%, #00d4ff 100%);
}
div#waveform {
    margin-left: 0;
    max-height: 130px;
}

div#make-diag {
    position: absolute;
    right: -30px;
    bottom: 44px;
    z-index: 2;
}
button#diagnosis {
    border: 0;
    background: #607d8b;
    background: linear-gradient(circle, #9e9e9e 0%, #607d8b 100%);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: #ffff;
    font-size: 18px;
    cursor: pointer;
}
div#recorder {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 400px;
}

div#transcribedText {
    /* position: absolute; */
    /* left: 120px; */
    /* z-index: 5; */
    width: 283px;
    /* top: -15px; */
}

#player-controls {
    position: absolute;
    top: 24px;
    width: 80px;
    height: 80px;
    margin-left: 40px;
    -webkit-transform: rotateZ(0);
    -ms-transform: rotate(0);
    transform: rotateZ(0);
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
    box-shadow: 0 0 0 10px #fff;
    border-radius: 50%;
    overflow: hidden;
    left: -78px;
    z-index: 20;
    box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
}

.center {
    text-align: center;
}

.record-btn {
    font-size: 24px;
    padding: 10px 20px;
    background-color: #ff3366;
    border: none;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.record-btn:hover {
    background-color: #ff0044;
    transform: scale(1.05);
}

.waveform {
    border: 2px solid #ff3366;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 10px;
}

.diagnosis-btn {
    font-size: 18px;
    background-color: #ff3366;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.diagnosis-btn:hover {
    background-color: #ff0044;
}

.output-box {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    text-align: left;
}

.output-box h2 {
    color: #ff3366;
    font-size: 24px;
    margin-bottom: 10px;
}

.output-box p {
    font-size: 16px;
}

.close-patient {
    font-size: 12px;
    background: #607d8b;
    padding: 2px 8px;
    border-radius: 15px;
    color: #fff !important;
}

.table-responsive {
    margin: auto !important;
    width: 98% !important;
}

.container-fluid {
    margin-top: 0 !important;
}

.menuLabel:hover {
    cursor: pointer;
}

:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;

    --white: #ffffff;
    --greyLight-1: #e4ebf5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #62749f;
}

input#ai_search {
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.4rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
        inset -0.2rem -0.2rem 0.5rem var(--white);
    background: none;
    font-family: inherit;
    color: var(--greyDark);
}
input#ai_search,
textarea#outputDiagnosis,
textarea#outputSummary,
textarea#ai_insight_summary_text,
textarea#ai_insight_summary_result {
    width: 100%;
    padding: 10px !important;
    border: 0;
    border-radius: 1rem;
    font-size: 1rem;
    box-shadow: inset 0.1rem 0.1rem 0.4rem #3f51b5,
        inset -0.1rem -0.1rem 0.4rem #03a9f4;
    background: 0 0;
    font-family: inherit;
    color: var(--greyDark);
}

fieldset#ai-dischargesummary{
    margin-top: 20px;
}
button.btn-aign{
    padding: 10px 20px;
    border-radius: 5px;
}

fieldset,
legend {
    background-color: #dee2e6 !important;
    color: #000 !important;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
}

fieldset {
    background-color: #fff !important;
}

span.powered-by-aign {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 5px 10px;
    background: #020024;
    background: -webkit-linear-gradient(
        left,
        #020024 0,
        #090979 35%,
        #00d4ff 100%
    );
    background: linear-gradient(90deg, #554ed7 0, #6b6bd6 35%, #00d4ff 100%);
    color: #fff;
    border-radius: 5px;
    font-size: .5em;
    opacity: 0.7;
}

.ai-search-container span.powered-by-aign {
    bottom: 15px;
    right: 15px;
}

.form-row {
    position: relative;
}
.ai-search-container {
    margin-top: 20px;
    position: relative;
}

.ai-search-container fieldset {
    position: relative;
}
div#encounters {
    width: 90%;
    padding-top: 20px;
}

#ccr_report fieldset,
form#report_form,
fieldset#ai-dischargesummary {
    background: #fff !important;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#ccr_report .col-sm-12 {
    background: #fff;
}
.text {
    font-size: 0.8125rem;
    padding-right: 15px;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    padding-right: 10px;
    margin-right: 7px;
}
.recorder-container {
    height: 100%;
    position: relative;
}

.aign-container {
    position: absolute;
    bottom: 4em;
    width: 100%;
}

div#transcribedText {
    width: 73%;
    left: 4em;
    position: absolute;
    bottom: 14em;
}

#transcribedText p {
    --bubble-color: #fdfdfd;
    position: relative;
    padding: 0.725rem;
    background-color: #e7e7e7;
    border-radius: 0.625rem;
}

#transcribedText p::before,
#transcribedText p::after {
    content: "";
    position: absolute;
}
#transcribedText p::before {
    height: calc(var(--chat-tail-size) * 1.2);
    width: calc(var(--chat-tail-size) * 0.85);
    background-color: currentColor;
    border-radius: 50% 50% 20px/10px 0;
    top: calc((100% - (var(--chat-tail-size) / 2)) - 11px);
    right: calc((100% + (var(--chat-tail-size) / 2) * -1) + 4px);
    left: auto;
}
#transcribedText p::after {
    height: calc(var(--chat-tail-size) * 1.25);
    width: var(--chat-tail-size);
    background-color: var(--black);
    border-radius: 0 0 16px/14px;
    top: calc((100% - (var(--chat-tail-size) / 2)) - 11px);
    right: 100%;
    left: auto;
}
legend.aign-header, h6.aign-header {
    background: #020024;
    background: -webkit-linear-gradient(
        left,
        #020024 0,
        #090979 35%,
        #00d4ff 100%
    );
    background: -webkit-linear-gradient(
        left,
        #554ed7 0,
        #6b6bd6 35%,
        #00d4ff 100%
    );
    background: linear-gradient(90deg, #554ed7 0, #6b6bd6 35%, #00d4ff 100%);
    color: #fff !important;
}
th.table-left-corner{
    border-top-left-radius: 5px;
}
th.table-right-corner{
    border-top-right-radius: 5px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    font-weight: 400;
    font-size: 14px;
}
table.table{
    border: 1px solid #ccc;
    border-radius: 5px;
}