#aign-voice-recorder {
    position: absolute;
    bottom: 5px;
    right: 5px;
    border: 1px solid #d9e1ec;
    border-radius: 1em;
    background: linear-gradient(89.84deg,rgba(230,36,174,.15) .34%,rgba(94,58,255,.15) 16.96%,rgba(10,136,255,.15) 34.66%,rgba(75,191,80,.15) 50.12%,rgba(137,206,0,.15) 66.22%,rgba(239,183,0,.15) 82%,rgba(246,73,0,.15) 99.9%);
    padding: 2em;
}